@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: url('../static/portfolio/images/background.jpeg');
    background-repeat: no-repeat;
    background-size:150%;
    font-weight: bold;
    font-size: 25px;
    
}
i{
    font-size:25px;
    margin-left: 5px;
}
hr{
    width: 100px;
}
h4{
    font-size: larger;
}
h3{
    font-size: x-large;
}
.mundo_cart{
    width: 200px;
    height: 200px;
}
.logo{
    display:flex;
    justify-content: center;
}
.logo img{
    width: 500px;
    height:300px;
}
#typescript{
    width: 25px;
    height: 25px;
}
#django{
    width: 25px;
    height: 25px;
}
.contact{
    display:flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.about_me{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills_title{
    text-align: center;
}
.skills_groups{
    display:flex;
    justify-content: space-evenly;
}

.git_hub_title{
    text-align: center;
}
.git_hub{
    display:flex;
    justify-content: center;
}
.projects{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(23, 98, 173, 0.628);
    height: 900px;
}
input{
    width: 300px;
}
.message{
    height: 300px;
}
.CV{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.CV a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
@media screen and (max-width:900px){
    body{
        font-size: 15px;
        background-size: cover;
    }
    .logo img{
        width:200px;
        height: 200px;
    }
}