{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Document</title>
</head>

<body>
    <div class="logo">
        <img src='{%static "portfolio/images/Logo.png"%}'>
    </div>
    <div class="contact">
        <h4>Contact:</h4>
        <div class="cellphone">
            <p>Cellphone/WhatsApp: </p>
            <a href="#">+57 3134593866</a>
        </div>
        <div class="email">
            <p>Email: </p>
            <a href="#">proudman36@hotmail.com</a>
        </div>
    </div>
    <div class="about_me">
        <h3>About Me</h3>
        <p>
            I’m a Front-End developer that has <br>
            knowledge in Back-End and the <br>
            following languages: Java, Python, <br>
            Typescript, HTML, CSS, SASS. I <br>
            also can use the frameworks of: <br>
            Angular, FastAPI and Django. In <br>
            additon to that I know about <br>
            finances and analysis of the <br>
            financial statements. I also finished <br>
            four semesters of finacial <br>
            engineering. I have pretty good soft <br>
            skills like: team work, <br>
            communication skills and I know <br>
            how to solve problems by myself. <br>
            I’m capable of sustaining a <br>
            conversation in english with another <br>
            person and my level is B2.
        </p>
    </div>
    <div class="skills_title">
        <h3>Skills</h3>
    </div>
    <div class="skills">
        <div class="skills_groups">
            <div class="skills_1">
                <p>-Python</p>
                <p>-Typescripts</p>
                <p>-Java</p>
                <p>-Angular</p>
                <p>-FastApi</p>
            </div>
            <div class="skills_2">
                <p>HTML</p>
                <P>CSS</P>
                <p>SASS</p>
                <p>Django</p>
                <p>Finances</p>
            </div>
        </div>
    </div>
    <div class="git_hub_title">
        <h3>GITHUB</h3>
    </div>
    <div class="git_hub">
        <a href="https://github.com/proudman36">
            <p>https://github.com/proudman36</p>
        </a>
    </div>
    <div class="projects">
        {%for project in projects%}

        <h2>{{project.title}}</h2>
        <p>{{project.description}}</p>
        <img src={{project.image.url}} alt={{project.title}} class="mundo_cart">
        {%if project.url%}
        <a href={{project.url}}>{{project.url}}</a>
        {% endif %}

        {% endfor %}
    </div>
    <div class="forms">
        <h4>Name:</h4>
        <input type="text">
        <h4>Email:</h4>
        <input type="email">
        <h4>Subject:</h4>
        <input type="text">
        <h4>Message</h4>
        <input type="text" class="message">
    </div>
</body>

</html>