{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'styles.css'%}">
    <link rel="stylesheet" href="{% static '/portfolio/fontawesome-free-6.3.0-web/css/all.css'%}">
    <title>Document</title>
</head>

<body>
    <div class="logo">
        <img src='{%static "portfolio/images/Logo.png"%}'>
    </div>
    <div class="contact">
        <h3>Contact:</h3>
        <hr>
        <div class="cellphone">
            <p>Cellphone/WhatsApp: </p>
            <a href="https://wa.link/p4r1oe">+57 3134593866</a>
        </div>
        <div class="email">
            <p>Email: </p>
            <a href="#">proudman36@hotmail.com</a>
        </div>
    </div>
    <div class="about_me">
        <h3>About Me</h3>
        <hr>
        <p>
            I'm a front-end developer with <br> 
            knowledge in back-end and experience <br> 
            in programming languages such as Java, <br>
            Python, TypeScript, HTML, CSS, and SASS. <br>
            Additionally, I'm proficient in using <br> 
            frameworks like Angular, FastAPI, and Django. <br>
            Furthermore, I have a strong understanding <br>
            of finance and financial statement analysis. <br>
            I completed four semesters of financial <br>
            engineering studies. I possess excellent soft <br>
            skills, including team work, communication, <br>
            and problem-solving abilities. I am capable of <br>
            engaging in a conversation in English with a <br>
            level of proficiency equivalent to a B2. <br>
        </p>
    </div>
    <div class="skills_title">
        <h3>Skills</h3>
        <hr>
    </div>
    <div class="skills">
        <div class="skills_groups">
            <div class="skills_1">
                <p>Python <i class="fa-brands fa-python icon"></i></p>
                <p>Typescript <img src="{%static 'portfolio/images/typescript.png'%}" alt="Typescript" id="typescript"></p>
                <p>Java <i class="fa-brands fa-java icon"></i></p>
                <p>Angular <i class="fa-brands fa-angular"></i></p>
                <p>FastApi</p>
            </div>
            <div class="skills_2">
                <p>HTML <i class="fa-brands fa-html5"></i></p>
                <P>CSS <i class="fa-brands fa-css3-alt"></i></P>
                <p>SASS <i class="fa-brands fa-sass"></i></p>
                <p>Django <img src="{%static 'portfolio/images/django.png'%}" alt="Django" id="django"></p>
                <p>Finances <i class="fa-solid fa-arrow-trend-up"></i></p>
            </div>
        </div>
    </div>
    <div class="git_hub_title">
        <h3>GITHUB</h3>
        <hr>
    </div>
    <div class="git_hub">
        <a href="https://github.com/proudman36">
            <p>https://github.com/proudman36</p>
        </a>
    </div>
    <div class="projects">
        {%for project in projects%}

        <h2>{{project.title}}</h2>
        <hr>
        <p>{{project.description}}</p>
        <img src={{project.image.url}} alt={{project.title}} class="mundo_cart">
        {%if project.url%}
        <a href={{project.url}}>{{project.url}}</a>
        {% endif %}

        {% endfor %}
    </div>
    <div class="CV">
        <a href="{%static 'portfolio/Documents/Copia de CV FullStack.pdf'%}"><h1>CV FullStack</h1></a>
        <a href="{%static 'portfolio/Documents/Copia de CV FrontEnd.pdf'%}"><h1>CV FrontEnd</h1></a>
    </div>
    <div class="forms">
        <hr>
        <h4>Name:</h4>
        <input type="text">
        <h4>Email:</h4>
        <input type="email">
        <h4>Subject:</h4>
        <input type="text">
        <h4>Message</h4>
        <input type="text" class="message">
    </div>
</body>

</html>